{{ define "main" }}
  <head>
    <link rel="stylesheet" href="/rusn/css/slides.css?v={{ now.Unix }}">
  </head>

  <div class="slide-container">
    <h1 class="slide-title">{{ .Title }}</h1>

    <div class='slide-rect-left'></div>
    <div class='slide-rect-right'></div>

    <div class="slide-content">
      {{ .Content }}
    </div>

    <div class="slide-footer-left">
    </div>
    <div class="slide-footer-center">
      <time datetime="{{ .Date | time.Format "2006-01-02T15:04:05-07:00" }}">
        {{ .Date | time.Format "2006-01-02" }}
      </time>
    </div>
    <div class="slide-footer-right">
    </div>
  </div>
  <div class='side-ref'>
  </div>

  {{- range .Params.authors }}
    {{- with $.Site.GetPage "taxonomyTerm" (printf "authors/%s" (urlize .)) }}
      <figure class='authors'>
        <img src="{{ .Params.photo }}" alt="" />
        <figcaption>
          <a href="{{ .Permalink }}">{{ .Params.name }}</a>
        </figcaption>
      </figure>
    {{ end }}
  {{ end }}
  
  {{ if false }}
    {{ partial "terms.html" (dict "taxonomy" "tags" "page" .) }}
  {{ end }}
  
  {{ partial "notes/math.html" . }}
{{ end }}
