html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Calibri;
}

.slide-container {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  
  box-shadow: 10 10px 30px rgba(0, 0, 0, 0.3);
  border: 0.5px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  
  --width: min(100vw, calc(100vh * 16 / 9));
  --height: min(100vh, calc(100vw * 9 / 16));
  
  width: calc(var(--width) - 6px);
  height: var(--height);
  
  overflow: hidden;
  z-index: 0;
}

.slide-title {
  position: absolute;
  top: calc(0.48 * var(--height));
  height: calc(0.27 * var(--height));
  font-size: calc(0.1 * var(--height));
  font-weight: normal;
  color: #fff;
  width: var(--width);
  padding-right: calc(0.08 * var(--height)); 
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
}

.slide-content {
  text-align: left;
  font-size: calc(0.075 * var(--height));
  background-color: white;
  padding-right: calc(0.12 * var(--height));
}

.slide-rect {
  position: absolute;
  top: calc(0.54 * var(--height));
  left: 0;
  width: calc(16/9 * var(--height));
  height: calc(0.27 * var(--height));
  background: #4f81bd;  
  z-index: -1;
}

.slide-footer-left {
  position: absolute;
  margin: auto;
  left: calc(0.05 * var(--height));
  bottom: calc(0.02 * var(--height));
  text-align: center;
  font-size: calc(0.03 * var(--height));
  width: calc(0.4 * var(--height));
  color: #888;
  height: calc(0.045 * var(--height));
  border: 0px solid #4f81bd;
}

.slide-footer-center {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: calc(0.02 * var(--height));
  text-align: center;
  font-size: calc(0.03 * var(--height));
  width: calc(0.4 * var(--height));
  color: #888;
  height: calc(0.045 * var(--height));
  border: 0px solid #4f81bd;
}

.slide-footer-right {
  position: absolute;
  margin: auto;
  right: calc(0.05 * var(--height));
  bottom: calc(0.02 * var(--height));
  text-align: center;
  font-size: calc(0.03 * var(--height));
  width: calc(0.4 * var(--height));
  color: #888;
  height: calc(0.045 * var(--height));
  border: 0px solid #4f81bd;
}
