html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Calibri;
}

.slide-container {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  
  box-shadow: 10 10px 30px rgba(0, 0, 0, 0.3);
  border: 2px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  
  --width: min(100vw, calc(100vh * 16 / 9));
  --height: min(100vh, calc(100vw * 9 / 16));
  
  width: calc(var(--width) - 6px);
  height: var(--height);
  
  overflow: hidden;
  z-index: 0;
}

.slide-title {
  position: absolute;
  margin: 0;
  top: calc(0.06 * var(--height));
  font-size: calc(0.08 * var(--height));
  font-weight: normal;
  color: #000;
  width: calc(var(--width) - 6px);
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  border: 0px solid #4f81bd;
}

.slide-rect-left {
  position: absolute;
  top: calc(0.54 * var(--height));
  left: 0;
  width: calc(0.05 * var(--height));
  height: calc(0.27 * var(--height));
  background: #4f81bd;
  z-index: -1;
}

.slide-rect-right {
  position: absolute;
  top: calc(0.54 * var(--height));
  right: 0;
  width: calc(0.05 * var(--height));
  height: calc(0.27 * var(--height));
  background: #4f81bd;
  z-index: -1;
}

.slide-footer-left {
  position: absolute;
  margin: auto;
  left: calc(0.05 * var(--height));
  bottom: calc(0.02 * var(--height));
  text-align: center;
  font-size: calc(0.03 * var(--height));
  width: calc(0.4 * var(--height));
  color: #888;
  height: calc(0.045 * var(--height));
  border: 0px solid #4f81bd;
}

.slide-footer-center {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: calc(0.02 * var(--height));
  text-align: center;
  font-size: calc(0.03 * var(--height));
  width: calc(0.4 * var(--height));
  color: #888;
  height: calc(0.045 * var(--height));
  border: 0px solid #4f81bd;
}

.slide-footer-right {
  position: absolute;
  margin: auto;
  right: calc(0.05 * var(--height));
  bottom: calc(0.02 * var(--height));
  text-align: center;
  font-size: calc(0.03 * var(--height));
  width: calc(0.4 * var(--height));
  color: #888;
  height: calc(0.045 * var(--height));
  border: 0px solid #4f81bd;
}

.slide-content {
  position: absolute;
  margin: 0;
  padding: 0;
  left: calc(0.05 * var(--height));
  right: calc(0.05 * var(--height));
  top: calc(0.2 * var(--height));
  height: calc(0.64 * var(--height));
  text-align: left;
  font-size: calc(0.055 * var(--height));
  overflow: auto;
  border: 0px solid #4f81bd;
  scrollbar-color: #4f81bd #f1f1f1;
}

.slide-content ul {
  margin-top: 0;
  padding-left: calc(0.08 * var(--height));
  border: 0px solid #4f81bd;
}

.slide-content li {
  padding-left: calc(0.01 * var(--height));
  line-height: calc(0.065 * var(--height));
  padding-bottom: calc(0.015 * var(--height));
  padding-top: calc(0.0 * var(--height));
  border: 0px solid #4f81bd;
}

.slide-ref {
  font-size: calc(0.036 * var(--height));
  position: absolute;
  bottom: calc(0.07 * var(--height));
  left: calc(0.05 * var(--height));
  right: calc(0.05 * var(--height));
  padding-left: calc(0.02 * var(--height));
  padding-right: calc(0.02 * var(--height));
  line-height: calc(0.04 * var(--height));
  height: calc(0.08 * var(--height));
  text-align: left;
  word-break: break-all;
  border: 0px solid #4f81bd;
}


.slide-content {
  .katex, .katex-display {
    font-size: 100% !important;
  }

  .katex-display {
    margin-top: calc(0.05 * var(--height)) !important;
    margin-bottom: calc(0.02 * var(--height)) !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  
  .katex .tag {
    font-size: 80% !important;
  }
  
}

.mol-container {
  margin: auto;
  position: relative;
  height: calc(0.55 * var(--height));
  width: calc(1.5 * var(--height));
}

.abcd-js-container {
}

.scatter-container {
  width: min(calc(1.55 * var(--height)), 95%);
  height: calc(0.65 * var(--height));
  transform: scale(0.85);
}

.slide-content pre {
  margin-left: calc(0.08 * var(--height)) !important;
  padding-top: calc(0.02 * var(--height)) !important;
  padding-bottom: calc(0.03 * var(--height)) !important;
  padding-left: calc(0.075 * var(--height)) !important;
}

.slide-content pre > code {
  font-size: calc(0.032 * var(--height));
}

.mermaid {
}


.slide-navigation {
  position: absolute;
  top: calc(0.00 * var(--height));
  right: calc(0.03 * var(--height));
  font-size: calc(0.032 * var(--height));
}

.slide-navigation ul {
  margin: 0;
  padding: 0;
}

.slide-navigation ul li {
  margin: 0px 1px;
  padding-top: calc(0.01 * var(--height));
  padding-bottom: calc(0.015 * var(--height));
  padding-left: calc(0.02 * var(--height));
  padding-right: calc(0.02 * var(--height));
  border-bottom-left-radius: calc(0.02 * var(--height));
  border-bottom-right-radius: calc(0.02 * var(--height));
  border: 0px #4f81bd solid;
  background: #4f81bd;
  display: inline;
  height: calc(0.01 * var(--height));
}

.slide-navigation ul li a {
  color: white;
}
