html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  font-family: Calibri;
}

.slide-container {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  
  box-shadow: 10 10px 30px rgba(0, 0, 0, 0.3);
  border: 0.5px solid #ccc;
  border-radius: 8px;
  background-color: #fff;
  
  --width: min(100vw, calc(100vh * 16 / 9));
  --height: min(100vh, calc(100vw * 9 / 16));
  
  width: calc(var(--width) - 6px);
  height: var(--height);
  
  overflow: hidden;
  z-index: 0;
}

.slide-title {
  position: absolute;
  top: calc(0.045 * var(--height));
  height: calc(0.27 * var(--height));
  font-size: calc(0.1 * var(--height));
  font-weight: normal;
  color: #000;
  /* border: 1px solid red; */
  width: var(--width);
  /* padding-right: calc(0.08 * var(--height)); */
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.slide-subtitle {
  position: absolute;
  top: calc(0.19 * var(--height));
  height: calc(0.27 * var(--height));
  font-size: calc(0.064 * var(--height));
  font-weight: normal;
  color: #ccc;
  /* border: 1px solid red; */
  width: var(--width);
  /* padding-right: calc(0.08 * var(--height)); */
  display: flex;
  justify-content: center;
  box-sizing: border-box;
}

.slide-rect {
  position: absolute;
  top: calc(0.54 * var(--height));
  left: 0;
  width: calc(16/9 * var(--height));
  height: calc(0.27 * var(--height));
  background: #4f81bd;
  z-index: -1;
}

.author-container {
  /* border: 1px red solid; */
  position: absolute;
  top: calc(0.57 * var(--height));
  left: calc(0.1 * var(--height));
  width: calc(1.65 * var(--height));
}

.author {
  /* border: 1px blue solid; */
  padding: 0 0.1em 0 0;
  a {
    font-size: calc(0.055 * var(--height));
    color: white;
  }
}

.author:not(:last-child):after {
    content: ', ';
    color: white;
    margin-left: -0.1em;
    font-size: calc(0.05 * var(--height));
}

.slide-footer-left {
  position: absolute;
  margin: auto;
  left: calc(0.05 * var(--height));
  bottom: calc(0.02 * var(--height));
  text-align: center;
  font-size: calc(0.03 * var(--height));
  width: calc(0.4 * var(--height));
  color: #888;
  height: calc(0.045 * var(--height));
  border: 0px solid #4f81bd;
}

.slide-footer-center {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: calc(0.02 * var(--height));
  text-align: center;
  font-size: calc(0.03 * var(--height));
  width: calc(0.4 * var(--height));
  color: #888;
  height: calc(0.045 * var(--height));
  border: 0px solid #4f81bd;
}

.slide-footer-right {
  position: absolute;
  margin: auto;
  right: calc(0.05 * var(--height));
  bottom: calc(0.02 * var(--height));
  text-align: center;
  font-size: calc(0.03 * var(--height));
  width: calc(0.4 * var(--height));
  color: #888;
  height: calc(0.045 * var(--height));
  border: 0px solid #4f81bd;
}

.slide-navigation {
  position: absolute;
  top: calc(0.00 * var(--height));
  right: calc(0.03 * var(--height));
  margin: 0;
  padding: 0;
  font-size: 0;
}

.slide-navigation ul {
  margin: 0;
  padding: 0;
}

.slide-navigation ul li {
  margin: calc(0.004 * var(--height));;
  padding-top: calc(0.01 * var(--height));
  padding-bottom: calc(0.015 * var(--height));
  padding-left: calc(0.02 * var(--height));
  padding-right: calc(0.02 * var(--height));
  border-bottom-left-radius: calc(0.02 * var(--height));
  border-bottom-right-radius: calc(0.02 * var(--height));
  border: 0px #4f81bd solid;
  background: #4f81bd;
  list-style: none;
  display: inline;
  font-size: calc(0.032 * var(--height));
}

.slide-navigation ul li a {
  color: white;
}

.version-link-container {
  /* border: 1px red solid; */
  position: absolute;
  top: calc(0.69 * var(--height));
  left: calc(0.1 * var(--height));
  color: white;
  font-size: calc(0.04 * var(--height));
}

.link a {
  /*
  border: 1px red solid;
  position: abosulete;
  top: calc(0.3 * var(--height));
  left: calc(0.05 * var(--height));
  width: calc(1.65 * var(--height));
  font-size: calc(0.04 * var(--height));
  */
  color: white;
}

.version {
  /*
  border: 1px red solid;
  position: abosulete;
  top: calc(0.29 * var(--height));
  left: calc(0.05 * var(--height));
  width: calc(1.65 * var(--height));
  color: white;
  font-size: calc(0.04 * var(--height));
  */
}

/* footer-left for tags */

.tags-footer-left,
.tags-footer-right {
  padding: 0;
  margin: 0;
  list-style: none;
  display: inline-block;
}

.tags-footer-left li,
.tags-footer-right li {
  display: inline-block;
}

.tags-footer-left li:not(:last-child)::after,
.tags-footer-right li:not(:last-child)::after {
  content: ",";
  margin-right: 0;
}
