{{ define "main" }}
  <head>
    <link rel="stylesheet" href="/notes/css/decks.css?v={{ now.Unix }}">
  </head>
  
  <div class="slide-container">
    <h1 class="slide-title">{{ .Title }}</h1>

    <nav class="slide-navigation">
      <ul>
        {{ range .Site.Menus.main }}
          <li><a href="{{ .URL }}">{{ .Name }}</a></li>
        {{ end }}
      </ul>
    </nav>

    <div class='slide-rect'></div>

    <div class="slide-footer-left">
    </div>
    <div class="slide-footer-center">
      <time datetime="{{ .Date | time.Format "2006-01-02T15:04:05-07:00" }}">
        {{ .Date | time.Format "2006-01-02" }}
      </time>
    </div>
    <div class="slide-footer-right">
    </div>

  </div>
  {{ partial "posts/math.html" . }}
{{ end }}
