{{ $urls := slice }}
{{ $states := slice }}

{{ range split (strings.TrimSpace .Inner) "\n" }}
  {{ $parts := split . " | " }}
  {{ $urls = $urls | append (index $parts 0) }}
  {{ $states = $states | append (index $parts 1) }}
{{ end }}

<ul>
  {{ range $i, $url := $urls }}
    {{ $matchedPages := where site.RegularPages "Params.url" $url }}
    {{ if gt (len $matchedPages) 0 }}
      {{ $page := index $matchedPages 0 }}
      <li>
        <a href="{{ $page.RelPermalink }}"><code>{{ $page.Params.url }}</code></a>
        <code>{{ index $states $i }}</code>
        &nbsp;{{ $page.Title }}
      </li>
    {{ end }}
  {{ end }}
</ul>
