{{ $seed := "foo" }}
{{ $id := delimit (shuffle (split (md5 $seed) "" )) "" }}
{{ $left := .Get "left" | default "0px" }}
{{ $top := .Get "top" | default "0px" }}
{{ $width := .Get "width" | default "10px" }}
{{ $height := .Get "height" | default "10px" }}
{{ $borderwidth := .Get "borderwidth" | default "0px" }}
{{ $fontsize := .Get "fontsize" | default "1em" }}

<style>
.sub-graphic-container {
  left: {{ $left }};
  top: {{ $top }};
  width: {{ $width }};
  height: {{ $height }};
  border: {{ $borderwidth }} #4f81bd solid;
}

.sub-graphic-container {
  .katex, .katex-display {
    font-size: {{ $fontsize }} !important;
  }

  .katex .tag {
    font-size: {{ $fontsize }} !important;
  }
}
</style>



<div class="sub-graphic-container" id="{{- $id -}}">
{{ .Inner }}
</div>