{{ $styles := resources.Get "css/tasklist.css" | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $styles.RelPermalink }}">


{{ $urls := slice }}
{{ $states := slice }}

{{ range split (trim .Inner " \n\r\t") "\n" }}
  {{ $parts := split . " | " }}
  {{ $urls = $urls | append (index $parts 0) }}
  {{ $states = $states | append (index $parts 1) }}
{{ end }}

<div class="task-list-container">
  {{ range $i, $url := $urls }}
    {{ $matchedPages := where site.RegularPages "Params.url" $url }}
    {{ if gt (len $matchedPages) 0 }}
      {{ $page := index $matchedPages 0 }}
      <div class="task">
        <div class="task-url">{{ $page.Params.url }}</div>
        <div class="task-title"><a href="{{ $page.RelPermalink }}">{{ $page.Title }}</a></div>
        <div class="task-state"><code>{{ index $states $i }}</code></div>
      </div>
    {{ end }}
  {{ end }}
</div>
